@font-face {
	font-family: 'Lato';
	src: url(assets/fonts/Lato-Regular.ttf);
}
body {
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	text-wrap: balance;
	background-color: var(--bg-dark);
	color: var(--font);
	font-size: calc(1rem + 0.1vw);
	font-family: 'Lato', system-ui, sans-serif;
	line-height: 1.5;
}
*::selection {
	background-color: var(--secondary);
}
:root {
	--primary: hsl(205, 44%, 41%);
	--primary-light: hsl(203, 43%, 50%);
	--secondary: hsl(37, 72%, 50%);
	--secondary-light: hsl(37, 72%, 60%);
	--bg-dark: hsl(0, 0%, 90%);
	--bg: hsl(0, 0%, 95%);
	--bg-light: hsl(0, 0%, 100%);
	--font: hsl(0, 0%, 25%);

	--gapBase: 0.5rem;
	--responsiveGap: 5vw;

	--shadow: inset 0 1px 2px var(--bg-light), 0 1px 2px var(--secondary-light),
		0 1px 2px var(--secondary);
	--shadow-big: inset 0 1px 2px var(--bg-light),
		0 2px 4px var(--secondary-light), 0 2px 4px var(--secondary);

	/* Images carousel */
	--frame-width: 70vw;
	--frame-height: 70vh;
	--frame-aspect-ratio-ue-projects: 3 / 4;
	--frame-aspect-ratio-facilities: 4 / 3;
}
p {
	margin: 0;
	max-width: 65ch;
}
h3 {
	font-weight: bold;
	font-size: calc(1rem + 0.3vw);
}
header {
	background-color: var(--bg-dark);
	padding-block: var(--gapBase);
	padding-inline: clamp(
		calc(var(--gapBase) * 2),
		5vw,
		calc(var(--gapBase) * 8)
	);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	transition: top 0.3s ease;
	z-index: 999;
	box-shadow: 0 1px 2px var(--secondary-light);
}
/* Logo header */
header > a > img {
	height: 2rem;
	filter: invert(75%);
}
/* Nav */
header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--responsiveGap) / 2);
	height: calc(var(--gapBase) * 6);
}
nav > * {
	text-decoration: none;
	cursor: pointer;
	padding: var(--gapBase);
}
nav > a {
	text-align: center;
	position: relative;
	color: var(--font);
}
nav > a::after {
	content: '';
	position: absolute;
	background: var(--primary);
	width: 0%;
	height: 1px;
	bottom: 4px;
	left: 0;
	transition: width 0.6s ease;
	border-radius: var(--gapBase);
	pointer-events: none;
}
nav > a:hover::after {
	width: 100%;
}
nav > a:visited {
	color: inherit;
}
.active,
nav > a:visited.active {
	color: var(--primary);
	text-shadow: 0 1px 2px var(--primary);
}
/* Color scheme toggle */
nav > button {
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	box-shadow: var(--shadow);
}
nav > button:hover {
	background-color: var(--bg-light);
	color: var(--primary);
	box-shadow: var(--shadow-big);
}
/* Hamburger & mobile menu */
.hamburger-btn {
	width: calc(var(--gapBase) * 6);
	display: none;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	padding: var(--gapBase);
	box-shadow: var(--shadow);
}
.hamburger-btn:hover {
	color: var(--primary);
	background-color: var(--bg-light);
	box-shadow: var(--shadow-big);
}
.translate-in-menu {
	transform: translateX(0);
	opacity: 1;
}
.translate-out-menu {
	transform: translateX(-100%);
	opacity: 0;
}
/* Footer */
footer {
	background-color: var(--bg-dark);
	padding-bottom: var(--gapBase);
	display: flex;
	flex-direction: column;
	gap: var(--responsiveGap);
	box-shadow: 0 -1px 2px var(--secondary-light);
}
.social-media-link {
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: var(--gapBase);
	box-shadow: var(--shadow);
}
.social-media-link:hover {
	background-color: var(--bg-light);
	color: var(--primary);
	box-shadow: var(--shadow-big);
}
.link-signature {
	font-size: calc(0.8rem + 0.1vw);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--gapBase);
	text-decoration: none;
	color: var(--font);
	opacity: 30%;
}
.link-signature > svg {
	height: calc(1rem + 0.1vw);
}
.link-signature:visited {
	color: inherit;
}
/* Sub-container */
.sub-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: var(--responsiveGap);
	padding-inline: var(--responsiveGap);
	padding-block: calc(var(--responsiveGap) * 1.5);
	overflow: hidden;
}
.sub-container > .left-child,
.sub-container > .right-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--responsiveGap);
}
.sub-container > .left-child.footer-descendant,
.sub-container > .right-child.footer-descendant {
	align-items: center;
}
.sub-container:nth-child(even):not(.sub-container.footer-descendant) {
	background-color: var(--bg);
}
.sub-container:nth-child(odd):not(.sub-container.footer-descendant) {
	background-color: var(--bg-light);
}
.sub-container.sub-container-mono > *,
.left-child:not(.left-child.footer-descendant) > *,
.right-child:not(.right-child.footer-descendant) > * {
	opacity: 0;
	transform: translateY(calc(var(--gapBase) * 4));
	transition: opacity 0.9s ease, transform 0.9s ease;
}
.sub-container.sub-container-mono > *.show,
.left-child:not(.left-child.footer-descendant) > *.show,
.right-child:not(.right-child.footer-descendant) > *.show {
	opacity: 1;
	transform: translateY(0);
}
.logo-big {
	width: 80%;
	height: auto;
	filter: invert(10%);
}
.sub-container > .right-child.footer-descendant {
	gap: calc(var(--responsiveGap) / 2);
}
.sub-container.sub-container-mono {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--responsiveGap);
}
/* Home */
.call-to-action-btn {
	color: var(--bg);
	background-color: var(--primary);
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	padding: calc(var(--gapBase) * 1.2);
	border-radius: var(--gapBase);
	box-shadow: var(--shadow);
	width: calc(var(--gapBase) * 25);
}
.call-to-action-btn.call-to-action-intro {
	align-self: flex-start;
}
.call-to-action-btn:hover {
	background-color: var(--primary-light);
	box-shadow: var(--shadow-big);
}
.sub-container#introduction-container {
	background: url(assets/background/background.webp) no-repeat center center;
	background-size: cover;
	background-attachment: local;
	color: hsl(0, 0%, 90%);
	/* 100vh minus header height */
	min-height: calc(100vh - calc(var(--gapBase) * 6));
}
.introduction-description {
	align-self: flex-start;
}
/* Partners, Special offers */
.partners,
.special-offers {
	display: flex;
	flex-wrap: wrap;
	gap: var(--responsiveGap);
	justify-content: center;
	align-items: center;
	padding: clamp(0.5rem, 3vw, 2rem);
}
.partner-logo {
	display: block;
	height: calc(var(--gapBase) * 12);
	width: auto;
	max-width: calc(25% - 2rem);
	flex: 1 1 12rem;
	object-fit: contain;
	padding: 0.5rem;
}
.special-offers > div {
	display: flex;
	flex-direction: column;
	gap: var(--gapBase);
	color: var(--font);
	fill: var(--primary);
	& svg {
		height: calc(var(--gapBase) * 10);
		width: auto;
	}
}
/* Pictures carousel */
.sub-container.sub-container-mono.images-carousel-container {
	gap: calc(var(--responsiveGap) / 3);
}
.ue-projects-title {
	padding-bottom: calc(var(--responsiveGap) / 2);
}
.frame-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--responsiveGap) / 3);
}
.frame {
	width: auto;
	height: var(--frame-height);
	overflow: hidden;
	border-radius: var(--gapBase);
	box-shadow: var(--shadow);
	/* Blokuje przewijanie okna gdy zoom aktywny */
	touch-action: pan-y;
}
.frame-container button,
.play-btn {
	cursor: pointer;
	border: none;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	border-radius: var(--gapBase);
	aspect-ratio: 1 / 2;
	width: calc(var(--gapBase) * 4);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font);
}
.play-btn {
	height: calc(var(--gapBase) * 4);
	width: auto;
	aspect-ratio: 2 / 1;
}
.frame-container button:hover,
.play-btn:hover {
	background-color: var(--bg-light);
	box-shadow: var(--shadow-big);
	color: var(--primary);
}
.tape {
	display: flex;
	transition: transform 0.6s ease;
	height: 100%;
}
.tape > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.dots-box {
	display: flex;
	gap: calc(var(--responsiveGap) / 5);
}
.dot {
	cursor: pointer;
	border: none;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	width: calc(var(--gapBase) * 2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot:hover {
	box-shadow: var(--shadow-big);
}
.dot-filled {
	background-color: var(--primary);
}
/* Specific aspect ratio for certain type of gallery, rest is universal, without subclass */
.frame.ue-projects-frame,
.tape > img.ue-projects-img {
	aspect-ratio: var(--frame-aspect-ratio-ue-projects);
}
.frame.facilities-frame,
.tape > img.facilities-img {
	aspect-ratio: var(--frame-aspect-ratio-facilities);
}
.sub-container.sub-container-mono.images-carousel-container.facilities-gallery {
	background-color: var(--bg);
}
a.back-to-facilities-list {
	cursor: pointer;
	text-decoration: none;
	border: none;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	border-radius: var(--gapBase);
	display: flex;
	gap: var(--gapBase);
	justify-content: center;
	align-items: center;
	color: var(--font);
	width: fit-content;
	padding: var(--gapBase) calc(var(--gapBase) * 2);
	&:hover {
		background-color: var(--bg-light);
		box-shadow: var(--shadow-big);
		color: var(--primary);
	}
}
/* Facilities */
.google-map {
	width: 90%;
	aspect-ratio: 3 / 2;
	border-radius: var(--gapBase);
	box-shadow: var(--shadow);
}
.address-container {
	display: flex;
	flex-direction: column;
	gap: calc(var(--responsiveGap) / 2);
	font-style: normal;
}
.address-container > div {
	display: flex;
	align-items: center;
	gap: calc(var(--responsiveGap) / 4);
}
.facilities-btns-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: calc(var(--responsiveGap) / 4);
	width: 90%;
}
a.anchor-contact {
	color: var(--font);
	text-decoration: none;
}
a.anchor-contact:hover {
	color: var(--primary-light);
}
/* Dark scheme */
[data-theme='dark'] {
	--primary: hsl(37, 72%, 50%);
	--primary-light: hsl(37, 72%, 60%);
	--secondary: hsl(205, 44%, 41%);
	--secondary-light: hsl(203, 43%, 50%);
	--bg-dark: hsl(0, 0%, 20%);
	--bg: hsl(0, 0%, 25%);
	--bg-light: hsl(0, 0%, 30%);
	--font: hsl(0, 0%, 90%);

	header > a > img {
		filter: invert(10%);
	}
}
/* Media queries */
@media (max-width: 768px) {
	:root {
		--responsiveGap: 8vh;
	}
	.hamburger-btn.open-nav {
		display: flex;
	}
	header > nav {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		gap: 3vh;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-dark);
		animation: translate-in-menu 0.3s;
		transition: transform 0.6s ease, opacity 0.6s ease;
		padding-top: calc(var(--responsiveGap) / 2);
	}
	nav > a::after {
		height: 0;
	}
	nav > a:hover {
		color: var(--primary);
	}
	.sub-container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.sub-container.reverse-queries > *:nth-child(1) {
		grid-row: 2;
	}
	.sub-container.reverse-queries > *:nth-child(2) {
		grid-row: 1;
	}
	.sub-container.footer-descendant {
		padding-top: var(--responsiveGap);
	}
	.introduction-description {
		text-align: center;
		align-self: center;
	}
	.call-to-action-btn.call-to-action-intro {
		align-self: center;
	}
	.sub-container#introduction-container {
		gap: calc(var(--responsiveGap) / 2);
	}
	.special-offers {
		flex-direction: column;
	}
	.partner-logo {
		height: calc(var(--gapBase) * 10);
		flex: 1 1 50%;
		max-width: 100%;
	}
	.frame-container button {
		display: none;
	}
	.frame {
		width: var(--frame-width);
		height: auto;
	}
	.tape > img {
		width: var(--frame-width);
		height: auto;
	}
	.facilities-btns-container {
		flex-direction: column;
	}
}
/* Key frames */
@keyframes translate-in-menu {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
