@font-face {
	font-family: "Lato";
	src: url(assets/fonts/Lato-Regular.ttf);
}
body {
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	text-wrap: balance;
	background-color: var(--bg-dark);
	color: var(--font);
	font-size: calc(1rem + 0.1vw);
	font-family: "Lato", system-ui, sans-serif;
	line-height: 1.5;
}
*::selection {
	background-color: var(--secondary);
}
:root {
	--primary: rgb(46, 93, 158);
	--primary-light: hsl(215, 55%, 50%);
	--secondary: hsl(37, 72%, 50%);
	--secondary-light: hsl(37, 72%, 60%);
	--bg-dark: hsl(0, 0%, 90%);
	--bg: hsl(0, 0%, 95%);
	--bg-light: hsl(0, 0%, 100%);
	--font: hsl(0, 0%, 25%);
	--font-light: hsl(0, 0%, 30%);

	--gapBase: 0.5rem;
	--responsiveGap: 5vw;

	--shadow: inset 0 1px 2px var(--bg-light), 0 1px 2px var(--secondary-light),
		0 1px 2px var(--secondary);
	--shadow-big: inset 0 1px 2px var(--bg-light),
		0 2px 4px var(--secondary-light), 0 2px 4px var(--secondary);

	/* Images carousel */
	--frame-width: 375px;	
	--frame-height: 500px;
	--frame-aspect-ratio: 3 / 4;
}
p {
	margin: 0;
	max-width: 65ch;
}
h3 {
	font-weight: bold;
	font-size: calc(1rem + 0.3vw);
}
header {
	background-color: var(--bg-dark);
	padding-block: var(--gapBase);
	padding-inline: clamp(
		calc(var(--gapBase) * 2),
		5vw,
		calc(var(--gapBase) * 8)
	);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	transition: top 0.3s;
	z-index: 999;
	box-shadow: 0 1px 2px var(--secondary-light);
}
/* Logo header */
header > a > img {
	height: 2rem;
	filter: invert(75%);
}
/* Nav */
header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: calc(var(--responsiveGap) / 2);
}
nav > * {
	text-decoration: none;
	cursor: pointer;
	padding: var(--gapBase);
}
nav > a {
	text-align: center;
	position: relative;
	color: var(--font);
}
nav > a::after {
	content: "";
	position: absolute;
	background: var(--primary);
	width: 0%;
	height: 1px;
	bottom: 4px;
	left: 0;
	transition: width 0.3s;
	border-radius: var(--gapBase);
	pointer-events: none;
}
nav > a:hover::after {
	width: 100%;
}
nav > a:visited {
	color: inherit;
}
.active,
nav > a:visited.active {
	color: var(--primary);
	text-shadow: 0 1px 2px var(--primary);
}
/* Color scheme toggle */
nav > button {
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	box-shadow: var(--shadow);
}
nav > button:hover {
	background-color: var(--bg-light);
	color: var(--primary);
	box-shadow: var(--shadow-big);
}
main {
	background-color: var(--bg);
}
/* Hamburger & mobile menu */
.hamburger-btn {
	width: calc(var(--gapBase) * 6);
	display: none;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	padding: var(--gapBase);
	box-shadow: var(--shadow);
}
.hamburger-btn:hover {
	color: var(--primary);
	background-color: var(--bg-light);
	box-shadow: var(--shadow-big);
}
.translate-in-menu {
	transform: translateX(0);
	opacity: 1;
}
.translate-out-menu {
	transform: translateX(-100%);
	opacity: 0;
}
/* Footer */
footer {
	background-color: var(--bg-dark);
	padding-bottom: var(--gapBase);
	display: flex;
	flex-direction: column;
	gap: var(--responsiveGap);
	box-shadow: 0 -1px 2px var(--secondary-light);
}
.social-media-link {
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: var(--gapBase);
	box-shadow: var(--shadow);
}
.social-media-link:hover {
	background-color: var(--bg-light);
	color: var(--primary);
	box-shadow: var(--shadow-big);
}
.link-signature {
	align-self: center;
	text-decoration: none;
	color: var(--font);
	opacity: 30%;
}
.link-signature:visited {
	color: inherit;
}
/* Sub-container */
.sub-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: var(--responsiveGap);
	padding: var(--responsiveGap);
}
.sub-container > .left-child,
.sub-container > .right-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--responsiveGap);
}
.sub-container:nth-child(even):not(.sub-container.footer-descendant) {
	background-color: var(--bg-light);
}
.logo-big {
	width: 80%;
	height: auto;
}
.sub-container > .right-child.footer-descendant {
	gap: calc(var(--responsiveGap) / 2);
}
.sub-container.sub-container-mono {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--responsiveGap);
	padding: var(--responsiveGap);
}
/* Home */
.call-to-action-btn {
	color: var(--bg);
	background-color: var(--primary);
	text-decoration: none;
	cursor: pointer;
	padding: var(--gapBase);
	border-radius: var(--gapBase);
	align-self: flex-start;
	box-shadow: var(--shadow);
}
.call-to-action-btn:hover {
	background-color: var(--primary-light);
	box-shadow: var(--shadow-big);
}
/* Partners infinite carousel */
.partners-carousel {
	display: flex;
	overflow-x: hidden;
	max-width: 100%;
}
.partners-carousel::-webkit-scrollbar {
	display: none;
}
.partners-group {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--responsiveGap);
	animation: carousel-spin 30s infinite linear;
	padding-right: var(--responsiveGap);
	position: relative;
}
.partners-group > img.partner-logo {
	flex: 0 0 5em;
	height: calc(var(--gapBase) * 15);
	padding: 1em;
}
/* Pictures carousel */
.frame-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: calc(var(--responsiveGap) / 2);
}
.frame {
	cursor: pointer;
	height: min(var(--frame-height), 60dvw);
	width: min(var(--frame-width), 45dvw);
	border-radius: var(--gapBase);
	box-shadow: var(--shadow);
	overflow: hidden;
}
.frame:hover {
	box-shadow: var(--shadow-big);
}
.frame-container button, .play-btn {
	cursor: pointer;
	border: none;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--font);
}
.frame-container button:hover, .play-btn:hover {
	background-color: var(--bg-light);
	box-shadow: var(--shadow-big);
	color: var(--primary);
}
.tape {
	height: inherit;
	position: relative;
	/* right: 0px; <- Set dynamically by .js*/
	display: flex;
	transition: right 0.3s ease-in-out;
}
.tape > img {
	width: min(var(--frame-width), 45dvw);
	aspect-ratio: var(--frame-aspect-ratio);
	align-self: flex-start;
}
.dots-box {
	display: flex;
	gap: calc(var(--responsiveGap) / 2);
}
.dot {
	cursor: pointer;
	border: none;
	background-color: var(--bg);
	box-shadow: var(--shadow);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	width: calc(var(--gapBase) * 2);
	display: flex;
	justify-content: center;
	align-items: center;
}
.dot:hover{
	box-shadow: var(--shadow-big);
	background-color: var(--bg-light);
}
.dot-filled {
	background-color: var(--primary-light);
}
/* Dark scheme */
[data-theme="dark"] {
	--primary: hsl(37, 72%, 50%);
	--primary-light: hsl(37, 72%, 60%);
	--secondary: hsl(215, 55%, 40%);
	--secondary-light: hsl(215, 55%, 50%);
	--bg-dark: hsl(0, 0%, 20%);
	--bg: hsl(0, 0%, 25%);
	--bg-light: hsl(0, 0%, 30%);
	--font: hsl(0, 0%, 90%);
	--font-light: hsl(0, 0%, 95%);

	header > a > img {
		filter: invert(10%);
	}
}
/* Media queries */
@media (max-width: 768px) {
	:root {
		--responsiveGap: 8vh;
	}
	.hamburger-btn.open-nav {
		display: flex;
	}
	header > nav {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		gap: 3vh;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-dark);
		animation: translate-in-menu 0.3s;
		transition: transform 0.3s, opacity 0.3s;
		box-shadow: inset 0 1px 2px var(--secondary-light);
		padding-top: calc(var(--responsiveGap) / 2);
	}
	nav > a::after {
		height: 0;
	}
	nav > a:hover {
		color: var(--primary);
	}
	.sub-container {
		display: grid;
		grid-template-columns: 1fr;
		padding: calc(var(--responsiveGap) / 2);
	}
	.call-to-action-btn {
		align-self: center;
	}
}
/* Key frames */
@keyframes translate-in-menu {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes carousel-spin {
	from {
		translate: 0;
	}
	to {
		translate: -100%;
	}
}
