@font-face {
	font-family: "Lato";
	src: url(assets/fonts/Lato-Regular.ttf);
}
body {
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	scroll-behavior: smooth;
	text-wrap: balance;
	background-color: var(--bg-dark);
	color: var(--font);
	font-size: calc(1rem + 0.1dvw);
	font-family: "Lato", system-ui, sans-serif;
	line-height: 1.5;
}
*::selection {
	background-color: var(--secondary);
}
:root {
	--primary: hsl(215, 55%, 40%);
	--primary-light: hsl(215, 55%, 50%);
	--secondary: hsl(42, 96%, 50%);
	--bg-dark: hsl(0, 0%, 90%);
	--bg: hsl(0, 0%, 95%);
	--bg-light: hsl(0, 0%, 100%);
	--font: hsl(0, 0%, 25%);
	--font-light: hsl(0, 0%, 30%);

	--gapBase: 0.5rem;
	--responsiveGap: clamp(
		calc(var(--gapBase) * 2),
		5dvw,
		calc(var(--gapBase) * 8)
	);
	--responsiveGapHalf: clamp(var(--gapBase), 2.5dvw, calc(var(--gapBase) * 4));
}
p {
	margin: 0;
	max-width: 65ch;
}
header {
	background-color: var(--bg-dark);
	padding-block: var(--gapBase);
	padding-inline: clamp(
		calc(var(--gapBase) * 2),
		5dvw,
		calc(var(--gapBase) * 8)
	);
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	transition: top 0.3s;
}
/* Logo header */
header > a > img {
	height: 2rem;
	filter: invert(75%);
}
/* Nav */
header > nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 3dvw;
	z-index: 999;
}
nav > * {
	text-decoration: none;
	cursor: pointer;
	padding: var(--gapBase);
}
nav > a {
	text-align: center;
	position: relative;
	color: var(--font);
}
nav > a::after {
	content: "";
	position: absolute;
	background: var(--primary);
	width: 0%;
	height: 1px;
	bottom: 4px;
	left: 0;
	transition: width 0.3s;
	border-radius: var(--gapBase);
	pointer-events: none;
}
nav > a:hover::after {
	width: 100%;
}
nav > a:visited {
	color: inherit;
}
.active,
nav > a:visited.active {
	color: var(--primary);
}
/* Color scheme toggle */
nav > button {
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
}
nav > button:hover {
	background-color: var(--bg-light);
	color: var(--primary);
}
main {
	background-color: var(--bg);
}
/* Hamburger & mobile menu */
.hamburger-btn {
	width: calc(var(--gapBase) * 6);
	display: none;
	justify-content: center;
	align-items: center;
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	padding: var(--gapBase);
}
.hamburger-btn:hover {
	color: var(--primary);
	background-color: var(--bg-light);
}
.translate-in-menu {
	transform: translateX(0);
	opacity: 1;
}
.translate-out-menu {
	transform: translateX(-100%);
	opacity: 0;
}
/* Footer */
footer {
	background-color: var(--bg-dark);
	padding-bottom: var(--gapBase);
	display: flex;
	flex-direction: column;
	gap: var(--responsiveGap);
}
.social-media-link {
	background-color: var(--bg);
	border: none;
	color: var(--font);
	border-radius: 999rem;
	aspect-ratio: 1 / 1;
	width: calc(var(--gapBase) * 6);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	padding: var(--gapBase);
}
.social-media-link:hover {
	background-color: var(--bg-light);
	color: var(--primary);
}
.link-signature {
	align-self: center;
	text-decoration: none;
	margin-top: var(--responsiveGap);
	color: var(--font);
	opacity: 30%;
}
.link-signature:visited {
	color: inherit;
}
/* Sub-container */
.sub-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: var(--responsiveGap);
	padding: var(--responsiveGap);
}
.sub-container > .left-child,
.sub-container > .right-child {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--responsiveGap);
}
.sub-container:nth-child(even):not(.sub-container.footer-descendant) {
	background-color: var(--bg-light);
}
.logo-big {
	width: 80%;
	height: auto;
}
.sub-container > .right-child.footer-descendant {
	gap: var(--responsiveGapHalf);
}
/* Home */
.call-to-action-btn {
	color: var(--secondary);
	background-color: var(--primary);
	text-decoration: none;
	cursor: pointer;
	padding: var(--gapBase);
	border-radius: var(--gapBase);
	align-self: flex-start;
}
.call-to-action-btn:hover{
background-color: var(--primary-light);
}

/* Dark scheme */
[data-theme="dark"] {
	--primary: hsl(42, 96%, 50%);
	--primary-light: hsl(42, 96%, 60%);
	--secondary: hsl(215, 55%, 40%);
	--bg-dark: hsl(0, 0%, 20%);
	--bg: hsl(0, 0%, 25%);
	--bg-light: hsl(0, 0%, 30%);
	--font: hsl(0, 0%, 90%);
	--font-light: hsl(0, 0%, 95%);

	header > a > img {
		filter: invert(10%);
	}
}
/* Media queries */
@media (max-width: 768px) {
	.hamburger-btn.open-nav {
		display: flex;
	}
	header > nav {
		display: none;
		flex-direction: column;
		justify-content: flex-start;
		position: fixed;
		gap: 3dvh;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: var(--bg-dark);
		animation: translate-in-menu 0.3s;
		transition: transform 0.3s, opacity 0.3s;
	}
	nav > a::after {
		height: 0;
	}
	nav > a:hover {
		color: var(--primary);
	}
	.sub-container {
		display: grid;
		grid-template-columns: 1fr;
	}
	.call-to-action-btn {
	align-self: center;
}
}
/* Key frames */
@keyframes translate-in-menu {
	from {
		transform: translateX(-100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}
